/* stylesheet for smaller screens
    apply after main stylesheet */

#widgetStack QWidget
{
    font-size: 9pt;
}

#widgetStack #welcome_heading_label, 
#widgetStack #timezone_heading_label,
#widgetStack #keyboard_heading_label,
#widgetStack #part_auto_heading_label,
#widgetStack #part_advanced_heading_label,
#widgetStack #userinfo_heading_label,
#widgetStack #reading_heading_label
{
    font-size: 8pt;
}