[Unit]
Description=Set console keymap
Documentation=man:loadkeys(1)
DefaultDependencies=no
After=local-fs.target
ConditionPathExists=/dev/tty0

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/loadkeys /etc/console-setup/cached.kmap.gz
