[Desktop Entry]
Encoding=UTF-8
Name=Fire-up Autopilot tests for Ubiquity
Comment=Starts the Autopilot tests
Exec=/usr/local/bin/run-autopilot.sh -R
Terminal=false
Type=Application
Categories=
X-GNOME-Autostart-Delay=10
