Source: partman-auto-crypto
Section: debian-installer
Priority: optional
Maintainer: Ubuntu Installer Team <ubuntu-installer@lists.ubuntu.com>
XSBC-Original-Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Max Vozeler <xam@debian.org>, Christian Perrier <bubulle@debian.org>
Build-Depends: debhelper (>= 7.0.8), dh-di, po-debconf (>= 0.5.0)
Vcs-Browser: http://git.debian.org/?p=d-i/partman-auto-crypto.git
Vcs-Git: git://git.debian.org/d-i/partman-auto-crypto.git

Package: partman-auto-crypto
Package-Type: udeb
Architecture: all
Depends: ${misc:Depends}, partman-auto (>= 81), partman-auto-lvm (>= 24), partman-crypto (>= 25), partman-base (>= 114)
Description: Automatically partition storage devices using crypto and LVM
