Tests: unit
Depends: ubiquity, ubiquity-ubuntu-artwork, ubiquity-frontend-gtk, ubiquity-frontend-kde, ubiquity-frontend-debconf, ubiquity-plugin-ubuntuone, oem-config, oem-config-gtk, oem-config-kde, oem-config-debconf, oem-config-remaster, humanity-icon-theme, python3-mock, xvfb
