Tests: unit
Depends: humanity-icon-theme,
         oem-config,
         oem-config-debconf,
         oem-config-gtk,
         oem-config-kde,
         oem-config-remaster,
         python3-mock,
         ubiquity,
         ubiquity-frontend-debconf,
         ubiquity-frontend-gtk,
         ubiquity-frontend-kde,
         ubiquity-ubuntu-artwork,
         xvfb
