Source: clock-setup
Section: debian-installer
Priority: standard
Maintainer: Ubuntu Installer Team <ubuntu-installer@lists.ubuntu.com>
XSBC-Original-Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Joey Hess <joeyh@debian.org>, Otavio Salvador <otavio@debian.org>
Build-Depends: debhelper (>= 7.0.50~), po-debconf
XS-Debian-Vcs-Svn: svn://svn.debian.org/d-i/trunk/packages/clock-setup
Vcs-Bzr: http://bazaar.launchpad.net/~ubuntu-core-dev/clock-setup/ubuntu

Package: clock-setup
Architecture: any
Depends: ${misc:Depends}, localechooser, tzsetup-udeb, di-utils (>= 1.66), ${rdate:Depends}
XC-Package-Type: udeb
XB-Installer-Menu-Item: 2600
Description: set up clock
