#! /usr/bin/make -f
%:
	dh $@

ARCH=$(shell dpkg-architecture -qDEB_HOST_ARCH)

RDATE_DEPENDS =
ifneq ($(ARCH), s390)
RDATE_DEPENDS = configured-network, rdate-udeb
endif

override_dh_install:
	dh_install
# On s390 we're not allowed to change the system clock
ifneq ($(ARCH), s390)
	dh_install finish-install.d usr/lib
endif

override_dh_gencontrol:
	dh_gencontrol -- -Vrdate:Depends="$(RDATE_DEPENDS)"
