Source: partman-target
Section: debian-installer
Priority: standard
Maintainer: Ubuntu Installer Team <ubuntu-installer@lists.ubuntu.com>
XSBC-Original-Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Anton Zinoviev <zinoviev@debian.org>, Max Vozeler <xam@debian.org>
Build-Depends: debhelper (>= 7.0.50~), dh-di, po-debconf (>= 0.5.0)
XS-Debian-Vcs-Svn: svn://svn.debian.org/d-i/trunk/packages/partman/partman-target
Vcs-Bzr: http://bazaar.launchpad.net/~ubuntu-core-dev/partman-target/ubuntu

Package: partman-target
XC-Package-Type: udeb
Architecture: all
Depends: ${misc:Depends}, partman-basicfilesystems, partman-basicmethods, di-utils-mapdevfs, di-utils (>= 1.68)
Description: Provides partman with ability to prepare /target
 This udeb allows the user to choose how partitions should be used.
