#! /usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
ifeq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
	$(MAKE) small
else
	$(MAKE) DEBUG=1
endif

# Of very limited use, and probably doesn't work well in chroots.
override_dh_auto_test:

override_dh_install:
	dh_install
	install -m755 partconf debian/partconf.postinst
	#install -m755 mkfstab debian/partconf-mkfstab.postinst
	install -m644 fstab-common \
		debian/partconf-mkfstab/var/lib/partconf/fstab.d/common

# Without these two overrides, dpkg-gencontrol and dpkg-deb get upset that
# partconf isn't built on all architectures (#572077).
override_dh_gencontrol:
	dh_gencontrol -s

override_dh_builddeb:
	dh_builddeb -s
