Source: partman-efi
Section: debian-installer
Priority: standard
Maintainer: Ubuntu Installer Team <ubuntu-installer@lists.ubuntu.com>
XSBC-Original-Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: dann frazier <dannf@debian.org>, Christian Perrier <bubulle@debian.org>
Build-Depends: debhelper (>= 7.0.8), dh-di, po-debconf (>= 0.5.0)
Standards-Version: 3.8.1
XS-Debian-Vcs-Browser: http://git.debian.org/?p=d-i/partman-efi.git
XS-Debian-Vcs-Git: git://git.debian.org/d-i/partman-efi.git
Vcs-Bzr: http://bazaar.launchpad.net/~ubuntu-core-dev/partman-efi/ubuntu

Package: partman-efi
XC-Package-Type: udeb
Architecture: i386 ia64 amd64
Depends: partman-base (>= 129), dosfstools-udeb, ${misc:Depends}
Description: Add to partman support for EFI boot partitions
