Source: partman-uboot
Section: debian-installer
Priority: standard
Maintainer: Ubuntu Installer Team <ubuntu-installer@lists.ubuntu.com>
Build-Depends: debhelper (>= 7.0.50), dh-di, po-debconf (>= 0.5.0)

Package: partman-uboot
XC-Package-Type: udeb
Architecture: armel armhf
XB-Subarchitecture: dove
Depends: ${misc:Depends}, e2fsprogs-udeb, ext2-modules, partman-basicfilesystems (>= 59), partman-base (>= 124)
Provides: partman-filesystem
Description: Add to partman support for uboot boot.scr startup
