Source: user-setup
Section: debian-installer
Priority: extra
Maintainer: Ubuntu Installer Team <ubuntu-installer@lists.ubuntu.com>
XSBC-Original-Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Christian Perrier <bubulle@debian.org>, Colin Watson <cjwatson@debian.org>
Build-Depends: debhelper (>= 7.0.0), dpkg-dev (>= 1.7.0), po-debconf (>= 0.5.0)
Standards-Version: 3.9.2
XS-Debian-Vcs-Browser: http://git.debian.org/?p=d-i/user-setup.git
XS-Debian-Vcs-Git: git://git.debian.org/d-i/user-setup.git
Vcs-Bzr: http://bazaar.launchpad.net/~ubuntu-core-dev/user-setup/ubuntu

Package: user-setup-udeb
Package-Type: udeb
Architecture: all
Priority: standard
XB-Installer-Menu-Item: 2400
Description: Set up users and passwords
Depends: cdebconf-udeb (>= 0.133)

Package: user-setup
Architecture: all
Section: admin
Priority: extra
Depends: ${misc:Depends}, passwd, adduser
Description: Set up initial user and password
 This package creates an initial user, using the same code as is
 responsible for creating the initial user in the installer. It is only
 likely to be of any use if your system has no non-system users at all.
