Source: ubiquity
Section: admin
Priority: optional
Maintainer: Linux Mint Installer Team <ubuntu-installer@lists.ubuntu.com>
Uploaders: Colin Watson <cjwatson@ubuntu.com>,
           Evan Dandrea <ev@ubuntu.com>
Build-Depends: adwaita-icon-theme,
               apt,
               autopoint,
               bf-utf-source,
               check,
               dctrl-tools,
               debconf-utils,
               debhelper (>= 11),
               dh-autoreconf,
               dh-di (>= 3),
               dh-python,
               dpkg-dev (>= 1.16.1~),
               gir1.2-nma-1.0,
               gir1.2-soup-2.4,
               gir1.2-timezonemap-1.0,
               gir1.2-webkit2-4.0,
               gir1.2-xkl-1.0,
               gobject-introspection,
               imagemagick,
               intltool (>= 0.40.0),
               intltool-debian (>= 0.30+20040212),
               iso-codes,
               isoquery,
               keymapper (>= 0.5.3-7),
               libblkid-dev,
               libbogl-dev,
               libcairo2-dev,
               libdebconfclient0-dev (>= 0.68),
               libdebian-installer4-dev (>= 0.76),
               libgirepository1.0-dev,
               libglib2.0-dev,
               libgtk-3-dev (>= 3.20),
               libindicator3-dev,
               libiw-dev (>= 27+28pre9),
               liblocale-gettext-perl,
               libparted-dev (>= 2.2),
               librsvg2-bin,
               libsubunit-dev,
               locales,
               pkg-config,
               po-debconf (>= 1.0),
               pycodestyle,
               pyflakes3 (>= 0.7.2),
               python-gi-dev,
               python3-all (>= 3.1),
               python3-apt (>= 0.7.100.3~),
               python3-cairo,
               python3-dbus,
               python3-debconf,
               python3-gi,
               python3-gi-cairo,
               python3-icu (>= 1.0),
               python3-mock (>= 0.7.0),
               python3-pam,
               qrencode,
               rename,
               scour,
               tzdata,
               ubuntu-artwork,
               udev,
               wget,
               xkb-data (>= 0.9),
               xvfb
Standards-Version: 3.9.4
X-Python3-Version: >= 3.1
XS-Testsuite: autopkgtest
Vcs-Git: https://git.launchpad.net/ubiquity
Vcs-Browser: https://code.launchpad.net/~ubuntu-installer/ubiquity/+git/ubiquity/+ref/master

Package: ubiquity
Architecture: any
Depends: adduser,
         cryptsetup,
         dbus-x11,
         dpkg-repack,
         grub-common [any-amd64 any-i386 arm64],
         iso-codes,
         language-selector-common (>= 0.4.16),
         laptop-detect,
         lsb-release,
         ntfs-3g (>= 1:2011.1.15AR.4+2011.4.12-1) [any-alpha any-amd64 any-i386 any-arm64],
         os-prober,
         passwd,
         policykit-1,
         python3-apt (>= 0.7.100.3~),
         python3-debconf,
         python3-icu (>= 1.0),
         python3-pam,
         rdate,
         sbsigntool [amd64],
         shim-signed [amd64],
         ubiquity-artwork-${mangled-version},
         ubiquity-casper,
         ubiquity-frontend-${mangled-version},
         wget,
         xdg-utils,
         dctrl-tools,
         ${console-setup-depends},
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Recommends: btrfs-progs,
            dmraid,
            grub-pc [any-amd64 any-i386] | grub [any-amd64 any-i386] | grub-efi-amd64 [any-amd64] | grub-efi-arm64 [arm64] | grub-efi-ia32 [any-i386],
            lvm2,
            ubuntu-drivers-common (>= 0.6.3)
Breaks: archdetect-deb
Replaces: archdetect-deb
Description: Linux Mint live CD installer
 This is a simple live CD installer designed to integrate well with Debian-
 and Linux Mint-based systems, and to reuse code from d-i for ease of
 maintenance.
 .
 Installing this package on a normal system is unlikely to be useful.

Package: ubiquity-ubuntu-artwork
Architecture: all
Depends: ${misc:Depends}
Provides: ubiquity-artwork-${mangled-version}
Description: Linux Mint artwork for Ubiquity live installer
 This package provides Linux Mint-themed user interface artwork, help files, and
 user interface text for the Ubiquity live CD installer.

Package: ubiquity-frontend-gtk
Architecture: amd64 arm64 armhf i386 ppc64el
Pre-Depends: ${misc:Pre-Depends}
Depends: busybox-static | busybox,
         gir1.2-gtk-3.0 (>= 3.20),
         gir1.2-nma-1.0,
         gir1.2-pango-1.0,
         gir1.2-soup-2.4,
         gir1.2-timezonemap-1.0,
         gir1.2-vte-2.91,
         gir1.2-webkit2-4.0,
         gir1.2-xkl-1.0,
         iso-codes,
         metacity | marco | xfwm4 | matchbox-window-manager | openbox | gnome-shell | budgie-core,
         python3-cairo,
         python3-dbus,
         python3-gi,
         python3-gi-cairo,
         ubiquity (= ${binary:Version}),
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Suggests: gnome-control-center | feh
Provides: ubiquity-frontend-${mangled-version}
Description: GTK+ frontend for Ubiquity live installer
 This package provides a GTK+-based user interface frontend for the Ubiquity
 live CD installer.

Package: ubiquity-frontend-gtk-panel
Architecture: amd64 arm64 armhf i386 ppc64el
Depends: ubiquity-frontend-gtk (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Breaks: ubiquity-frontend-gtk (<< 19.10.1~)
Replaces: ubiquity-frontend-gtk (<< 19.10.1~)
Provides: indicator-renderer
Description: GTK+ frontend panel implementation for ubiquity-dm UI
 This package suplements ubiquity-dm GTK+ with a panel that renders
 indicators for the Ubiquity live CD installer.

Package: ubiquity-frontend-kde
Architecture: all
Depends: kde-window-manager | kwin,
         python3-dbus,
         python3-dbus.mainloop.pyqt5,
         python3-pyqt5,
         python3-pyqt5.qtsvg,
         python3-pyqt5.qtwebkit,
         ubiquity (= ${binary:Version}),
         xauth,
         ${misc:Depends},
         ${python3:Depends}
Provides: ubiquity-frontend-${mangled-version}
Description: KDE frontend for Ubiquity live installer
 This package provides a KDE-based user interface frontend for the Ubiquity
 live CD installer.

Package: ubiquity-frontend-debconf
Architecture: any
Depends: bogl-bterm (>= 0.1.18-2ubuntu4),
         debconf (>= 1.5.24ubuntu2) | cdebconf,
         ubiquity (= ${binary:Version}),
         ${misc:Depends},
         ${python3:Depends}
Provides: ubiquity-frontend-${mangled-version}
Description: debconf frontend for the Ubiquity live installer
 This package provides a debconf-based user interface frontend for the
 Ubiquity live CD installer.

Package: oem-config
Architecture: all
Depends: oem-config-frontend-${mangled-version},
         procps,
         ubiquity (= ${binary:Version}),
         ${misc:Depends}
Description: Perform end-user configuration after initial OEM installation
 The oem-config script re-asks a number of questions that are normally asked
 during installation, and reconfigures the system accordingly. This allows a
 vendor to install a skeleton system, clone it onto a large number of
 machines, and ship it to end users, while still allowing end users to set
 up their own username and password, language, timezone, and so on.

Package: oem-config-gtk
Architecture: all
Depends: aptdaemon,
         oem-config (= ${source:Version}),
         python3-aptdaemon.gtk3widgets,
         ubiquity-frontend-gtk (= ${source:Version}),
         ${misc:Depends}
Provides: oem-config-frontend-${mangled-version}
Description: GTK+ frontend for end-user post-OEM-install configuration
 The oem-config script re-asks a number of questions that are normally asked
 during installation, and reconfigures the system accordingly. This allows a
 vendor to install a skeleton system, clone it onto a large number of
 machines, and ship it to end users, while still allowing end users to set
 up their own username and password, language, timezone, and so on.
 .
 This is a GTK+ frontend to oem-config.

Package: oem-config-kde
Architecture: all
Depends: oem-config (= ${source:Version}),
         ubiquity-frontend-kde (= ${source:Version}),
         ${misc:Depends}
Provides: oem-config-frontend-${mangled-version}
Description: KDE frontend for end-user post-OEM-install configuration
 The oem-config script re-asks a number of questions that are normally asked
 during installation, and reconfigures the system accordingly. This allows a
 vendor to install a skeleton system, clone it onto a large number of
 machines, and ship it to end users, while still allowing end users to set
 up their own username and password, language, timezone, and so on.
 .
 This is a KDE frontend to oem-config.

Package: oem-config-debconf
Architecture: all
Depends: oem-config (= ${source:Version}),
         ubiquity-frontend-debconf (= ${source:Version}),
         ${misc:Depends}
Provides: oem-config-frontend-${mangled-version}
Description: debconf frontend for end-user post-OEM-install configuration
 The oem-config script re-asks a number of questions that are normally asked
 during installation, and reconfigures the system accordingly. This allows a
 vendor to install a skeleton system, clone it onto a large number of
 machines, and ship it to end users, while still allowing end users to set
 up their own username and password, language, timezone, and so on.
 .
 This is a frontend to oem-config that simply arranges for questions to be
 asked using the normal debconf frontend.

Package: oem-config-remaster
Architecture: all
Depends: apt-utils,
         genisoimage,
         gnupg,
         ${misc:Depends}
Description: Remaster a CD with additional oem-config functionality
 This script remasters a CD with additional packages and optional oem-config
 preseed data.
