[Unit]
Description=Ubuntu live CD installer
Before=display-manager.service plymouth-quit.service plymouth-quit-wait.service

[Service]
Type=oneshot
ExecStart=/usr/share/ubiquity/start-ubiquity-dm

[Install]
WantedBy=graphical.target
