Source: partman-auto-loop
Section: debian-installer
Priority: standard
Maintainer: Ubuntu Installer Team <ubuntu-installer@lists.ubuntu.com>
Uploaders: Colin Watson <cjwatson@ubuntu.com>
Build-Depends: debhelper (>= 7.0.8), dh-di, po-debconf (>= 0.5.0)
Vcs-Bzr: http://bazaar.launchpad.net/~ubuntu-installer/partman-auto-loop/ubuntu

Package: partman-auto-loop
XC-Package-Type: udeb
Architecture: all
Depends: ${misc:Depends}
Description: Automatically partition using a loop device
