Source: bterm-unifont
Section: debian-installer
Priority: optional
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Christian Perrier <bubulle@debian.org>
Build-Depends: debhelper (>= 9), bf-utf-source, libbogl-dev
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=d-i/bterm-unifont.git
Vcs-Git: git://anonscm.debian.org/d-i/bterm-unifont.git

Package: bterm-unifont
Architecture: any
Depends: bogl-bterm-udeb
Package-Type: udeb
Description: Include complete Unicode font for bogl-bterm
