Source: bterm-unifont
Section: debian-installer
Priority: optional
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Build-Depends: debhelper (>= 9), bf-utf-source, libbogl-dev
Vcs-Browser: https://salsa.debian.org/installer-team/bterm-unifont
Vcs-Git: https://salsa.debian.org/installer-team/bterm-unifont.git

Package: bterm-unifont
Architecture: any
Depends: bogl-bterm-udeb
Package-Type: udeb
Description: Include complete Unicode font for bogl-bterm
