[Unit]
Description=OEM Configuration
Requires=basic.target
Conflicts=rescue.service rescue.target multi-user.target
After=basic.target rescue.service rescue.target
AllowIsolate=yes
Wants=oem-config.service network-manager.service getty-static.service systemd-user-sessions.service systemd-resolved.service
