Source: partman-auto
Section: debian-installer
Priority: standard
Maintainer: Ubuntu Installer Team <ubuntu-installer@lists.ubuntu.com>
XSBC-Original-Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Anton Zinoviev <zinoviev@debian.org>, Joey Hess <joeyh@debian.org>
Build-Depends: debhelper (>= 7.0.50), dh-di, po-debconf (>= 0.5.0)
XS-Debian-Vcs-Svn: svn://svn.debian.org/d-i/trunk/packages/partman/partman-auto
Vcs-Bzr: http://bazaar.launchpad.net/~ubuntu-core-dev/partman-auto/ubuntu

Package: partman-auto
XC-Package-Type: udeb
Architecture: any
Depends: ${misc:Depends}, di-utils, partman-base (>= 129), partman-basicfilesystems, partman-ext3 [linux-any], partman-ufs [kfreebsd-any]
Description: Automatically partition storage devices (partman)
