Source: localechooser
Section: debian-installer
Priority: optional
Maintainer: Linux Mint Installer Team <ubuntu-installer@lists.ubuntu.com>
XSBC-Original-Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Christian Perrier <bubulle@debian.org> 
Build-Depends: debhelper (>= 9), dpkg-dev (>= 1.9), locales, intltool-debian (>= 0.30+20040212), po-debconf, iso-codes, isoquery
XS-Debian-Vcs-Browser: https://anonscm.debian.org/cgit/d-i/localechooser.git
XS-Debian-Vcs-Git: https://anonscm.debian.org/git/d-i/localechooser.git
Vcs-Git: https://git.launchpad.net/~ubuntu-core-dev/localechooser/+git/localechooser

Package: localechooser
Package-Type: udeb
Architecture: any
Depends: cdebconf-udeb (>= 0.129)
XB-Installer-Menu-Item: ${menuitemnum}
Description: choose language/country/locale

Package: localechooser-data
Section: devel
Priority: optional
Architecture: all
Depends: iso-codes
Breaks: system-config-kickstart (<< 2.5.20-0ubuntu24), casper (<< 1.361)
Description: Lists of locales supported by the installer
 This package contains lists of languages, countries, and locales supported
 by the installer, for use by programs that create automatic installation
 scripts.
